<div class="event">
  <div class="label">
    <i class="pencil icon"></i>
  </div>
  <div class="content">
    <div class="summary">
      <em><%= message.user.username %></em>: <%= message.body %>
    </div>
  </div>
</div>