<div class="event">
  <div class="label">
    <i class="pencil icon"></i>
  </div>
  <div class="content">
    <div class="summary">
      <span class="message-body"><%= message.user.username %></span> : <p class="message-body"><%= message.body %></p>
    </div>
  </div>
</div>