<link href="https://www.dafontfree.net/embed/Y2FsaWJyaS1saWdodC1pdGFsaWMtaXRhbGljJmRhdGEvNDYvYy82MzcyOC9jYWxpYnJpbGkudHRm" rel="stylesheet" type="text/css"/>

<div class="event">
  <div class="label">
    <i class="pencil icon"></i>
  </div>
  <div class="content message-content">
    <div class="summary">
      <span class="message-body"><%= message.user.username %></span>: <p class="message-body"><%= message.body %></p>
      <div class="ui fitted divider"></div>
    </div>
  </div>
</div>