<h2 class="ui center aligned large header">
  Welcome to MessageMe - <em>a complete Chat App</em>
</h2>

<h4 class="ui center aligned huge icon header">
  <i class="teal users icon"></i>
  Log in to continue
</h4>


<div class="ui placeholder piled segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui animated teal submit button" tabindex="0">
          <div class="visible content">Login</div>
            <div class="hidden content">
              <i class="icon users"></i>
            </div>
        </div>
      </form>
    </div>
    <div class="middle aligned column">
      <div class="ui big teal disabled button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>