@import "semantic-ui";
.chatbox {
    height: 450px;
    margin-top: 20px;
}

#Size {
    height: 190px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #C4C1B8;
}

.images {
    margin: 20px;
}

#own-fix {
    background-color: #00b5ad;
}

.own-fix {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: bold;
    color: white;
    border: 0px;
}

.ui.animated.teal.button.own-fix {
    padding-left: 0%;
}

button.own-fix {
    background-color: #009c95;
}

#Messages {
    font-family: Garamond, serif;
}