@import "semantic-ui";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@font-face {
    font-family: Calibri Light Italic;
    src: url(fonts/calibrilightitalic/calibrili.ttf);
}

:root {
    --teal-button: #00b5ad;
}

.chatbox {
    height: 450px;
    margin-top: 20px;
}

#Size {
    height: 190px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #C4C1B8;
}

.images {
    margin: 20px;
}

#own-fix {
    background-color: var(--teal-button);
}

.own-fix {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: bold;
    color: white;
    border: 0px;
}

.ui.animated.teal.button.own-fix {
    padding-left: 0%;
}

button.own-fix {
    background-color: #009c95;
}

#Messages {
    font-family: Garamond, serif;
}

span.message-body {
    font-size: 1.2em;
    // font-family: 'Ubuntu', sans-serif;
    // font-weight: Regular 400;
    // text-transform: uppercase;
    //letter-spacing: 1px;
    // font-family: "Sofia", sans-serif;
    color: var(--teal-button);
    // color: rgb(253, 253, 229);
    // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

p.message-body {
    // font-family: 'Ubuntu', sans-serif;
    font-family: Calibri Light Italic;
    font-size: 1.1em;
    text-indent: 1.2em;
}