@import "semantic-ui";
.chatbox {
    height: 450px;
    margin-top: 20px;
}

#Size {
    height: 190px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #C4C1B8;
}

.images {
    margin: 20px;
}