<a class="active pink item">
  Chatroom
</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui selection dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Log out</a>
      <%= link_to "Log in", login_path, class: "item" %>
      <a class="item">Sign up</a>
    </div>
  </div>
  <div class="item">
    <div class="ui animated inverted teal button" tabindex="0">
      <div class="visible content">Sign Up</div>
        <div class="hidden content">
          <i class="signup icon"></i>
        </div>
      </div>
  </div>
</div>

